{% extends "referral_system/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="intro-section">
<br><center><h2>Welcome to Health Management Referral System</h2></center>
<center><p>We manage the health of referred individuals. Use the navigation menu to explore.</p></center>
<div class="text-center my-5">
    <img src="{% static 'referral_system/banner.jpg' %}" alt="Healthcare" class="img-fluid rounded">
</div>
</div>
{% endblock %}
