{% extends "referral_system/base.html" %}

{% block title %}Person Details{% endblock %}

{% block content %}
<div class="vcontainer">
    <h2>{{ person.first_name }} {{ person.last_name }}</h2>
    <p><strong>Phone:</strong> {{ person.phone_number }}</p>
    <p><strong>Date of Birth:</strong> {{ person.date_of_birth }}</p>

    <h3>Referrals</h3>
    <ul>
        {% for referral in person.referrals.all %}
        <li>
            <a href="{% url 'referral_detail' referral.pk %}">
                Referral on {{ referral.referral_date }}
            </a>
        </li>
        {% empty %}
        <p>No referrals found.</p>
        {% endfor %}
    </ul>
    <a href="{% url 'person_list' %}" class="btn btn-secondary">Back to People</a>
</div>
{% endblock %}
