{% extends "referral_system/base.html" %}

{% block title %}Add/Edit Person{% endblock %}

{% block content %}
<div class="econtainer">
    <h2 class="my-4">{% if form.instance.pk %}Edit Person{% else %}Add Person{% endif %}</h2>

    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>
        <div class="mb-3">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
        </div>
        <div class="mb-3">
            {{ form.phone_number.label_tag }}
            {{ form.phone_number }}
        </div>
        <div class="mb-3">
            {{ form.date_of_birth.label_tag }}
            {{ form.date_of_birth }}
        </div>
        <button type="submit" class="btn btn-primary mt-3">
            {% if form.instance.pk %}Save Changes{% else %}Add Person{% endif %}
        </button>
        <a href="{% url 'person_list' %}" class="btn btn-secondary mt-3">Cancel</a>
    </form>
</div>
{% endblock %}
