{% extends "referral_system/base.html" %}

{% block title %}Referral Details{% endblock %}

{% block content %}
<div class="vcontainer">
    <h2>Referral Details</h2>
    <p><strong>Person:</strong> {{ referral.person }}</p>
    <p><strong>Date:</strong> {{ referral.referral_date }}</p>
    <p><strong>Referrer Name:</strong> {{ referral.referrer_name }}</p>
    <p><strong>Reason:</strong> {{ referral.referral_reason }}</p>
    <p><strong>Note:</strong> {{ referral.note }}</p>
    <a href="{% url 'referral_list' %}" class="btn btn-secondary">Back to Referrals</a>
</div>
{% endblock %}
